__pycache__/
tmp/
qlscripts/
config/llm_config.py
.DS_Store
.vscode/
fuzzemu/
*/emulate/
testcases_out/
lcmhal_failcheck_logs/
runs/e3b_uncertainty/
runs/*.log
**/emulate/core
**/debug_output/
**/emulate/output.elf
**/emulate/output.bin
run/batch_main_analyze_*_logs/
